.clients{
    padding: 80px 0;
    background-image: url("../img/clients.jpg");
    background-size: cover;
    height: 580px;
    .section-title{
        text-align: left;
    }
    .section-line{
        margin: 0;
        margin-bottom: 48px;
    }

    &-top{
        display: flex;
        justify-content: space-between;
        .buttons{
            padding-top: 15px;
            .swiper-button-prev2,.swiper-button-next2{
                position: static;
                display: inline-block;
                margin-top: 0;
                cursor: pointer;
            }
        }
        
    }

    .swiper-slide{
        padding: 32px;
        max-width: 648px;
        background-color: #fff;
        box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
    }

    .slider__inner-main{
        display: flex;
        align-items: center;
        gap: 24px;
    }

    .slider__inner-text{
        font-size: 14px;
        font-weight: 300;
    }

    .slider__inner-name{
        font-size: 20px;
        font-weight: 700;
        line-height: 150%;
    }

    .slider__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .swiper-slide__text{
        margin-top: 16px;
    }
    
   &-comments{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 16px 24px;
    background-color: #4F8FF0;
    margin-top: 32px;
    font-size: 14px;
    font-weight: 900;
    margin-right: 24px;
    text-transform: uppercase;
   }

   &-makecomment{
    display: inline-block;
    text-decoration: none;
    background-color: #E6E6E6;
    margin-top: 32px;
    color: #222;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
   }
    
}


@media (max-width:1024px){
    .clients{
        padding: 40px 0;

        .buttons{
            display: none;
        }

        &-comments{
            display: block;
            max-width: 146px;
            margin: 0 auto;
            margin-top: 24px;
            margin-bottom: 16px;
        }

        &-makecomment{
            display: block;
            max-width: 185px;
            margin: 0 auto;
            
        }
    }
}